{% comment %}
  Renders a Call to Action

  Accepts:
  - icon: {String} Name of icon, only possible values = [pin, user]
  - heading: {String} Heading texn
  - action_text: {String} Text describing Action
  - link_url: {String} URL destination when action_text is clicked

  Usage:
  {% render 'action-cta', icon: icon, heading: heading, action_text: action_text, link_url: link_url %}
{% endcomment %}

{{ 'action-cta.css' | asset_url | stylesheet_tag }}

<div class="cta-wrapper">
  <div class="cta__icon">
    {%- case icon -%}
      {%- when 'pin' -%}
        {%- render 'icon-pin' -%}
      {%- when 'user' -%}
        {%- render 'icon-user' -%}
      {%- else -%}
        {%- render 'icon-graylogo' -%}
    {%- endcase -%}
  </div>
  <h3 class="cta__heading">
    {%- if heading -%}
      {{ heading }}
    {%- else -%}
      heading
    {%- endif -%}
  </h3>
  <div class="cta__action-text">
    {%- if action_text -%}
      <a href="{{link_url}}">
        {{ action_text }}
      </a>
    {%- else -%}
      call to action text
    {%- endif -%}
  </div>
</div>
