/* sections */

section {
  width: 100%;
  max-width: var(--page-width);
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* layout */
@media (max-width: 1024px) {
  .hide-sm {
    display: none;
  }
}

.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  word-wrap: normal !important;
}

.visually-hidden--inline {
  margin: 0;
  height: 1em;
}

/* typography */

h1,
h2,
h3,
h4,
h5,
.h0,
.h1,
.h2,
.h3,
.h4,
.h5 {
  font-family: var(--font-heading-family);
  font-style: var(--font-heading-style);
  font-weight: var(--font-heading-weight);
  margin: 0px;
}

h3,
.h3 {
  font-size: 16px;
}

.vendor-styles {
  color: #a6a6a6;
  font-size: 0.75rem;
  font-weight: 600;
  opacity: 0.6;
  text-transform: uppercase;
}

/* menus */

.menu-custom {
  font-family: var(--font-menu-family);
  color: var(--color-menu-text);
  font-size: var(--font-menu-size);
}

/* links */

a,
a:visited,
a:hover,
a:focus {
  text-decoration: none;
  color: inherit;
}

/* inputs */

button {
  cursor: pointer;
  border: none;
  outline: none;
}

.field {
  box-shadow: var(--box-shadow-01);
}

.field__input {
  background-color: rgb(var(--color-base-background-2));
  border-radius: var(--inputs-radius);
  border: none;
  outline: none;
}

.field__button {
  background-color: rgb(var(--color-base-accent-1));
  border-radius: var(--inputs-radius);
}

.search__field {
  display: flex;
}

.search__field > *:first-child {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.search__field > *:last-child {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

/* css components */

.divider {
  width: 0px;
  min-height: 40px;
  border-right: 1px solid #a6a6a6;
}

.divider--horizontal {
  height: 0px;
  border-bottom: 1px solid #a6a6a6;
}

/* lists */

ul {
  list-style-type: none;
}
