/* sections */

section {
  width: 100%;
  max-width: var(--page-width);
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

/* headings */

h1,
h2,
h3,
h4,
h5,
.h0,
.h1,
.h2,
.h3,
.h4,
.h5 {
  font-family: var(--font-heading-family);
  font-style: var(--font-heading-style);
  font-weight: var(--font-heading-weight);
  margin: 0px;
}

/* menus */

.menu-custom {
  font-family: var(--font-menu-family);
  color: var(--color-menu-text);
  font-size: var(--font-menu-size);
}

/* links */

a,
a:visited,
a:hover,
a:focus {
  text-decoration: none;
  color: inherit;
}

/* inputs */

button {
  cursor: pointer;
  border: none;
  outline: none;
}

.field {
  box-shadow: var(--box-shadow-01);
}

.field__input {
  background-color: rgb(var(--color-base-background-2));
  border-radius: var(--inputs-radius);
  border: none;
  outline: none;
}

.field__button {
  background-color: rgb(var(--color-base-accent-1));
  border-radius: var(--inputs-radius);
}

.search__field {
  display: flex;
}

.search__field > *:first-child {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.search__field > *:last-child {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

/* css components */

.divider {
  width: 0px;
  min-height: 40px;
  border-right: 1px solid #a6a6a6;
}

.divider--horizontal {
  height: 0px;
  border-bottom: 1px solid #a6a6a6;
}

/* lists */

ul {
  list-style-type: none;
}
