.card {
  border-radius: 8px;
  background-color: rgb(var(--color-base-background-2));
  box-shadow: var(--box-shadow-01);
  overflow: hidden;
  border: 1px solid #d8d8d8;
}

/* badges */

.card__badge {
  background-color: black;
  color: white;
  border-radius: 99px;
  padding: 5px 10px 5px 10px;
  font-size: 0.8em;
}

.spotlight__badge {
  position: absolute;
  top: 12px;
  right: 12px;
}

/* collection card */

.card--collection > .card__inner {
  display: flex;
  flex-direction: column;
}

.card--collection > .card__inner > .card__content {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  align-items: center;
  height: 52px;
}

.card--collection__icon svg {
  width: 20px;
}

/* images */

.card--collection__media {
  position: relative;
}

.card--collection__ratio {
  overflow: hidden;
  height: 0px;
  padding-bottom: var(--ratio-percent);
}

.card--collection__media img {
  width: 100%;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
}

/* spotlight card */

.card--spotlight {
  position: relative;
}

.spotlight__media img {
  height: 117px;
}

.spotlight__price {
  font-weight: bolder;
}

.spotlight__content {
  position: relative;
  padding: 0px 10px 20px 10px;
}
