.header {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  background-color: rgb(var(--color-base-accent-2));
}

/* top nav */

.header__top-nav {
  display: flex;
  align-items: center;
  margin-top: 48px;
  margin-bottom: 22px;
  height: 50px;
  width: var(--nav-width);
  gap: 20px;
}

#header__logo {
  height: 40px;
  vertical-align: top;
  margin-right: 40px;
}

.search__field--wrapper {
  flex-grow: 3;
}

.search__field {
  height: 48px;
  margin-right: 10px;
}

.search__input {
  width: 100%;
  padding-left: 10px;
}

.search__input,
.search__input::placeholder {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #a6a6a6;
}

.search__button {
  padding-left: 15px;
  padding-right: 15px;
}

/* bottom nav */

.header__bottom-nav--wrapper {
  background-color: rgb(var(--color-base-accent-3));
  width: 100%;
  height: 80px;
  color: white;
}

.header__bottom-nav {
  margin: 0 auto;
  width: var(--nav-width);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  height: 80px;
  color: white;
}

.header__bottom-nav__menu,
.header__bottom-nav__login {
  display: flex;
  align-items: center;
  gap: 36px;
}

.header__bottom-nav__login {
  justify-self: end;
  position: relative;
  right: -30px;
}

.header__nav-button-border {
  border: 1px solid #465b95;
  width: 177px;
  padding: 10.5px;
  border-radius: 99px;
  text-align: center;
}
