.header {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  background-color: rgb(var(--color-base-accent-2));
}

/* top nav */

.header__top-nav {
  display: flex;
  align-items: center;
  margin-top: 48px;
  margin-bottom: 22px;
  height: 50px;
  width: var(--page-width);
  gap: 20px;
}

.header__bottom-nav {
  background-color: rgb(var(--color-base-accent-3));
}

#header__logo {
  height: 40px;
  vertical-align: top;
  margin-right: 40px;
}

.search__field--wrapper {
  flex-grow: 3;
}

.search__field {
  height: 48px;
  margin-right: 10px;
}

.search__input {
  width: 100%;
}

.search__button {
  padding-left: 15px;
  padding-right: 15px;
}

/* bottom nav */

.header__bottom-nav {
  color: white;
}
