.header {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  background-color: rgb(var(--color-base-accent-2));
}

/* top nav */

.header__top-nav {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  margin-top: 48px;
  margin-bottom: 22px;
  height: 50px;
  gap: 20px;
  padding-right: 10px;
  padding-left: 10px;
  overflow: hidden;
}

#header__logo {
  height: 40px;
  vertical-align: top;
}

.search__field--wrapper {
  flex-grow: 3;
}

.search__field {
  height: 48px;
  margin-right: 10px;
  width: 100%;
}

.search__input {
  width: 100%;
  padding-left: 10px;
}

.search__input,
.search__input::placeholder {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #a6a6a6;
}

.search__button {
  padding-left: 15px;
  padding-right: 15px;
}

/* bottom nav */

.header__bottom-nav--wrapper {
  background-color: rgb(var(--color-base-accent-3));
  width: 100%;
  height: 80px;
  color: white;
}

.header__bottom-nav {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  height: 80px;
  color: white;
}

.header__bottom-nav__menu,
.header__bottom-nav__login {
  display: flex;
  align-items: center;
  gap: 36px;
}

.header__bottom-nav__login {
  justify-self: end;
  position: relative;
}

.header__nav-button-border {
  border: 1px solid #465b95;
  width: 177px;
  padding: 10.5px;
  border-radius: 99px;
  text-align: center;
}

/* for large screens */
@media (min-width: 1216px) {
  .header__bottom-nav__login {
    right: -30px;
  }
}

/* for medium + screens */
@media (min-width: 768px) {
  .search__field--bottom {
    display: none;
  }

  .search__field--top {
    display: block;
  }

  .header__top-nav,
  .header__bottom-nav {
    width: 100%;
    max-width: calc(var(--page-width) - 120px);
  }
}

/* for extra small screens */
@media (max-width: 450px) {
  .header__logo--wrapper {
    min-width: 40px;
    width: 40px;
    overflow: hidden;
  }
}
/* for small screens */
@media (max-width: 768px) {
  .header__logo--wrapper {
    order: 0;
    margin-right: auto;
  }

  #header__logo {
    width: 140px;
  }

  .header__top-nav {
    width: 92%;
    gap: 10px;
    margin-top: 15px;
    margin-bottom: 0px;
    padding-right: 10px;
  }

  .header__bottom-nav {
    grid-template-columns: 1fr;
    background-color: rgb(var(--color-base-accent-2));
  }

  .search__field--bottom {
    display: block;
    justify-self: center;
    width: 92%;
  }

  .search__field--bottom > .search__field {
    margin-right: 0px;
  }

  .search__field--top {
    display: none;
  }

  .header__bottom-nav__login,
  .header__bottom-nav__menu {
    display: none;
  }
}
