.multicolumn-icons--wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.multicolumn-icons__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  justify-items: center;
}

.multicolumn-icons__background {
  background-color: rgb(var(--color-base-background-2));
  position: absolute;
  width: 100vw;
  height: 100%;
  margin: 0 auto;
  z-index: -10;
}

.multicolumn-icons__column {
  width: 260px;
  height: 120px;
  display: grid;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
}

.multicolumn-icons__image-wrapper {
  grid-row: span 2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  width: 86.7px;
  height: 103.7px;
}

.multicolumn-icons__image-wrapper img,
.multicolumn-icons__image-wrapper svg {
  width: 60px;
  margin: 10px;
}

.multicolumn-icons__title {
  max-width: 100px;
}

.multicolumn-icons__link,
.multicolumn-icons__link:hover {
  text-decoration: underline;
}

.multicolumn-icons__link:hover {
  color: rgb(var(--color-base-text)) !important;
}

.multicolumn-icons__title,
.multicolumn-icons__link {
  justify-self: start;
}

@media screen and (max-width: 1216px) {
  .multicolumn-icons__content {
    grid-template-columns: 1fr 1fr;
  }

  .multicolumn-icons__image-wrapper {
    width: 70px;
  }
}

@media screen and (max-width: 495px) {
  .multicolumn-icons__content {
    grid-template-columns: 1fr;
  }
}
