:root {
  --collection-slider-li-padding: 25px;
}

.collection-slider {
  padding: 0px;
  list-style-type: none;
  display: flex;
  overflow-x: auto;
  gap: var(--collection-slider-li-padding);
  flex-flow: row nowrap;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.collection-slider > li {
  width: calc((100% - 3 * var(--collection-slider-li-padding)) / 4);
  scroll-snap-align: start;
  flex: none;
}

/* scrollbar styles */

.collection-slider {
  scrollbar-color: rgb(var(--color-base-text))
    rgba(var(--color-base-text), 0.04);
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.collection-slider::-webkit-scrollbar {
  height: 0.4rem;
  width: 0.4rem;
  display: none;
}

/* slider buttons */

.slider-button {
  color: rgb(var(--color-base-text));
  background-color: rgb(var(--color-base-background-2));
  border: 1px solid rgb(var(--color-base-text));
  border-radius: 99px;
  cursor: pointer;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.slider-button .icon {
  height: 0.35rem;
}

.slider-button[disabled] {
  display: none;
}

.slider-button--next .icon {
  transform: rotate(-90deg);
}

.slider-button--prev .icon {
  transform: rotate(90deg);
}

.slider-button--next:not([disabled]):hover .icon {
  transform: rotate(-90deg) scale(1.1);
}

.slider-button--prev:not([disabled]):hover .icon {
  transform: rotate(90deg) scale(1.1);
}

/* layout */

.collection-slider--container {
  position: relative;
}

.slider-button {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
}

.slider-button--next {
  right: -22px;
}

.slider-button--prev {
  left: -22px;
}

@media (max-width: 768px) {
  .collection-slider > li {
    width: calc((100% - 1 * var(--collection-slider-li-padding)) / 2);
  }

  .slider-button {
    width: 30px;
    height: 30px;
  }

  .slider-button--next {
    right: -15px;
  }

  .slider-button--prev {
    left: -15px;
  }
}
