:root {
  --spotlight-height: 535px;
}

.spotlight--wrapper {
  display: grid;
  grid-template-columns: 3fr 2fr;
  align-items: center;
  gap: 40px;
}

.spotlight__cards--wrapper {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: stretch;
}

@media (min-width: 768px) {
  .spotlight__cards--wrapper {
    height: var(--spotlight-height);
  }
}

@media (max-width: 768px) {
  .spotlight--wrapper {
    grid-template-columns: 1fr;
    gap: 5px;
  }
}

@media (max-width: 1024px) {
  .spotlight__cards--wrapper {
    grid-template-columns: 1fr;
  }
}
